<h1>Display your Pirate here</h1>

  <label>Pirate Name:</label>
    <h2><%= @pirate.name %></h2>

  <label>Pirate Weight:</label>
    <h2><%= @pirate.weight %></h2>

  <label>Pirate Height:</label>
    <h2><%= @pirate.height %></h2>


<h2>Display your first ship here</h2>
  <label>Ship 1 Name:</label>
    <h2><%= @ship_name_1.name %></h2>

  <label>Ship 1 Type:</label>
    <h2><%= @ship_name_1.type %></h2>

  <label>Ship 1 Booty:</label>
    <h2><%= @ship_name_1.booty %></h2>

<h2>Display your second ship here</h2>
  <label>Ship 2 Name:</label>
    <h2><%= @ship_name_2.name %></h2>

  <label>Ships Type:</label>
    <h2><%= @ship_name_2.type %></h2>

  <label>Ships Booty:</label>
    <h2><%= @ship_name_2.booty %></h2>
